/** { box-sizing: border-box; }
	body {margin: 0;}
	body{text-align:center;}
	#igsmr{text-align:center;padding:50px 0 50px 0;}
	#ifchx{font-family:Courier New, Courier, monospace;font-size:40px;font-weight:700;letter-spacing:2px;text-align:center;border:0 inset rgb(33, 37, 41);}
	#iwtd5{padding:0 0 0 0;border:100px outset rgb(33, 37, 100);}
	#iiltx{font-family:Trebuchet MS, Helvetica, sans-serif;font-size:30px;text-align:center;font-weight:600;padding:20px 0 20px 0;}
	#i8oky{padding:0 40px 0 0;text-align:right;}
	#i91qh{padding:0 0 0 0;}
	#i71sw{padding:0 0 0 0;}
	.btn.btn-primary{width:auto;font-family:Trebuchet MS, Helvetica, sans-serif;font-size:30px;text-align:center;padding:6px 50px 6px 50px;margin:0 0 0 10px;color:#9bcab4;background-color:#103155;border-radius:15px 15px 15px 15px;}
	*/